/**
*  styles pour h1,h2,h3,h4,h5mh6 et p
*/


h1,h2 {
    color : lighten($color__h, 40%);
}
h2,h3,h4,h5,h6,p {
    color : lighten($color__h, 10%);
}

h1 {
    font-size: clamp(1.5rem, 5vw, 5rem);
}